[submodule "sites/all/modules/todo"]
	path = sites/all/modules/todo
	url = https://github.com/moorebrett0/To-Do-List.git
[submodule "sites/all/modules/custom/todotoday"]
	path = sites/all/modules/custom/todotoday
	url = https://github.com/moorebrett0/To-Do-List.git
