/*@import url(http://fonts.googleapis.com/css?family=Amatic+SC);*/

#header {
    background: url('http://www.northamericafood.com/images/Stock__Coffee_Beans_by_unamanic.jpg');
    background-size: contain;
    text-shadow: 1px 1px 3px black;
}

#site-name {
    font-family: 'Aclonica', cursive;
    font-size: 3em;
}